configuration {
    show-icons: false;
}

@import "config.rasi"

window {
	width: 15%;
	location: center;
	children: [listview];
}

listview {
    lines:      5;
    fixed-height: false;
    dynamic: true;
    scrollbar:  false;
    border:     0px;
}

element-text, element-icon {
    background-color: transparent;
    text-color:       inherit;
}

element-icon {
	enabled: false;
}
element normal.normal,
element normal.urgent,
element normal.active,
element alternate.normal,
element alternate.urgent,
element alternate.active {
    background-color: transparent;
    text-color:       #ffffff;
}

/* Now just define the highlight */
element selected.normal,
element selected.urgent,
element selected.active {
    background-color: #242424cc; /* Surface0 */
    text-color:       #ffffff; /* Lavender */
    border-radius:    6px;
}
